<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {{>head}}
  </head>
  <body>

    <nav class="navbar navbar-expand navbar-dark bg-dark p-2">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/public/images/imgshare-logo.png" alt="imgShare" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="/#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Profile
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/profile">Settings</a>
                  <a class="dropdown-item" href="/auth/logout">Logout</a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container p-4">
      <div class="row">
        <div class="col-md-8">
          {{{ body  }}} 
        </div>
        <div class="col-md-4">
          {{>stats this}}
          {{>popular this}}
          {{>comments this}}
        </div>
      </div>
    </div>
    <!-- SCRIPTS -->
    {{>footer}}
    <script src="/public/js/scripts.js"></script>
  </body>
</html>
